        <!--javascript ここから-->
        <script src="assets/lib/jquery.js"></script>
        <script src="assets/lib/ScrollMagic.min.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/index.js"></script>
        <!--javascript ここまで-->
    </body>
</html>
