.l-header {
    width: 100%;
    height: 95px;
    background: $color-white;
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
}