.l-main {
    &-eye-catch {
        min-width: 1160px;
        width: 100%;
        height: 800px;
        background: #ada6a3;
    }
    &-feature {
        background-color:  #f6f6f6;
        height: 611px;
        padding: 66px 0;
        min-width: 1160px;
        &-item {
            display: inline-block;
            &:nth-of-type(n+2) {
                margin-left: 136px;
            }
        }
    }
    &-service {
        padding: 66px 0;
    }
    &-news-section {
        min-width: 1160px;
        height: 548px;
    }
    &-banner-section {
        height: 208px;
    }
    &-form {
        min-width: 1160px;
        height: 400px;
        background: #f6f6f6;;
    }
}
