/*
#Variables color

@color-default #333
@color-base #f7f7f7
@color-border #ccc

@color-main #825794
@color-sub #ffbb4d
@color-caution #e74c3c

@color-facebook #305097
@color-twitter #00aced
@color-line #00c300
@color-instagram #325C86
*/

$color-default: #333;
$color-base: #efefef;
$color-border: #ccc;

$color-main: #825794;
$color-sub: #ffbb4d;
$color-caution: #e74c3c;

$color-facebook: #305097;
$color-twitter: #00aced;
$color-line: #00c300;
$color-hatena: #00A4D4;
$color-instagram: #325C86;
$color-google: #db4437;

$color-white: #fff;
$color-gray: #ccc;
$color-black: #000;

