<% var bannerArray = [
    {
        href: "#",
        src: './assets/images/ibm.jpg',
        alt: ''
    },
    {
        href: "#",
        src: './assets/images/microsoft.jpg',
        alt: ''
    },
    {
        href: "#",
        src: './assets/images/twitter.jpg',
        alt: ''
    },
    {
        href: "#",
        src: './assets/images/facebook.jpg',
        alt: ''
    }
] %>


<aside>
    <ul class="banner-section">
        <% for(var i=0; i < bannerArray.length; i++) { %>
        <li class="banner-section-item">
            <a class="banner" href="<%- bannerArray[i].href %>">
                <img src="<%- bannerArray[i].src %>" alt="<%- bannerArray[i].alt %>">
            </a>
        </li>
        <% } %>
    </ul>
</aside>