<div class="eye-catch" id="js-top">
<div class="l-container">
    <div class="eye-catch-inner">
        <h2 class="eye-catch-inner-title">
            Catch copy text catch copy !!<br>
            Catch copy text!
        </h2>
        <div class="eye-catch-inner-text">
            <p class="eye-catch-inner-text-1">
                sample text sample text sample text sample text<br> sample text sample text sample text sample<br> sample text sample text sample text
            </p>
            <p class="eye-catch-inner-text-2">
                sample text sample text sample text sample text<br> sample text sample text sample text<br>
            </p>
        </div>
        </div>
    </div>
    <div class="eye-catch-image" id="js-parallax-1" style="background: url(../assets/images/phone-1.png) no-repeat center center /cover"></div>
    <div class="eye-catch-image" id="js-parallax-2" style="background: url(../assets/images/phone-2.png) no-repeat center center /cover"></div>
    <div class="eye-catch-image" id="js-parallax-3" style="background: url(../assets/images/phone-3.png) no-repeat center center /cover"></div>
</div>