<div class="feature-item js-feature">
    <div class="feature-item-image" style="background: url(../assets/images/<%- image %>) no-repeat center center /cover;">
        </div>
        <h3 class="feature-item-title"><%-title %></h3>
        <p class="feature-item-text"><%-description  %></p>
</div>