<%
var featureArray = [
    {
        image: 'HTML5.png',
        title: 'HTML5',
        description: 'sample text sample text sample text sample text sample text'
    },
    {
        image: 'CSS3.png',
        title: 'CSS3',
        description: 'sample text sample text sample text sample text sample text'
    },
    {
        image: 'JS.png',
        title: 'JavaScript',
        description: 'sample text sample text sample text sample text sample text'
    },
];
 %>

<section class="feature-section">
    <h2 class="feature-section-title">- Feature -</h2>
    <% for(var i=0; i < featureArray.length; i++) { %>
        <div class="feature-section-item">
            <%- include("view/module/_feature-item", {
                    image: featureArray[i].image,
                    title: featureArray[i].title,
                    description: featureArray[i].description
                }) %>
        </div>
        <% } %>
</section>