<form action="/" method="POST" class="form-section u-clear">
    <div class="form-section-name">
        <input type="text" name="name" class="form-item from-item-name" id="name" placeholder="Name">
    </div>
    <div class="form-section-comments">
        <textarea name="comments" id="" cols="30" rows="10" class="form-item form-item-comments" id="comments" placeholder="Comments"></textarea>
    </div>
    <div class="form-section-e-mail">
        <input type="email" name="email" class="form-item form-item-e-mail" id="email" placeholder="E-mail">
    </div>
    <div class="form-section-select">
        <label for="topic" class="form-section-select-label">
            <select name="topic" class="form-item form-item-select" id="topic">
                <option value="0">Please select your topic</option>
                <option value="1">B</option>
                <option value="2">C</option>
                <option value="3">D</option>
            </select>
        </label>
    </div>

    <div class="form-section-submit">
        <input type="submit" name="submit" value="Submit" class="button submit" id="submit">
    </div>
</form>