<header class="header u-clear">
    <a href="#" class="header-logo">
        <img src="assets/images/logo.jpg" alt="LOGO">
    </a>
    <div class="header-nav">
        <nav class="navigation">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a href="#js-top" class="navigation-link" id="js-nav-top">
                        Top
                     </a>
                </li>
                <li class="navigation-item">
                    <a href="#js-feature" class="navigation-link" id="js-nav-feature">
                        Feature
                    </a>
                </li>
                <li class="navigation-item">
                    <a href="#js-service" class="navigation-link" id="js-nav-service">
                        Service
                    </a>
                </li>
                <li class="navigation-item">
                    <a href="#js-news" class="navigation-link" id="js-nav-news">
                        News
                     </a>
                </li>
            </ul>
        </nav>
    </div>
</header>