<div class="hero">
    <div class="hero-image" style="background: url(assets/images/hero.jpg) no-repeat center center /cover;"></div>
    <h1 class="hero-title">Hello world</h1>
    <div class="hero-text">-description text-</div>
</div>