<%
var articleArray = [
    {
        date: '01.01',
        dateTime: '2017-01-01',
        heading: 'News title',
        description: 'sample text sample text sample text sample text sample text'
    },
    {
        date: '01.02',
        dateTime: '2017-01-02',
        heading: 'News title',
        description: 'sample text sample text sample text sample text sample text'
    },
    {
        date: '01.03',
        dateTime: '2017-01-03',
        heading: 'News title',
        description: 'sample text sample text sample text sample text sample text'
    },
];
 %>
<section class="news-section" id="js-news">
    <h2 class="news-section-title">
       - News -
    </h2>
    <div class="l-container">
        <ul class="news-section-list">
            <% for(var i=0; i < articleArray.length; i++) { %>
            <li class="news-section-item">
                <%- include("view/module/_news-article", {
                    date: articleArray[i].date,
                    dateTime: articleArray[i].dateTime,
                    heading: articleArray[i].heading,
                    description: articleArray[i].description
                }) %>
            </li>
            <% } %>
        </ul>
    </div>
</section>