<article>
    <a href="#" class="news-article u-clear">
        <time class="news-article-date" datetime="<%- dateTime %>">
            <%- date %>
        </time>
            <h3 class="news-article-title">
            <%- heading %>
            </h3>
        <p class="news-article-text">
            <%- description  %>
        </p>
    </a>
</article>

