<div class="service u-clear" id="js-service">
    <h2 class="service-title">
        - Service -
    </h2>
        <figure class="service-image">
            <img src="assets/images/service.jpg" alt="">
        </figure>
    <div class="service-inner">
        <h3 class="service-inner-subtitle">
            2016 our results
        </h3>
        <div class="service-inner-text">
            <p class="service-inner-text-1"> sample text sample text sample text sample text<br> sample text sample text sample text sample<br> sample text sample text sample text</p>
            <p class="service-inner-text-2">sample text sample text sample text<br> sample text sample text sample text sample text</p>
        </div>
    </div>
</div>