.banner-section {
    &-item {
        display: inline-block;
        &:nth-of-type(n+2) {
        margin: 70px 0 70px 65px;
        }
        &:nth-child(1) {
            margin: 70px 0;
        width: 151px;
        height: 56px;
        }
        &:nth-child(2) {
            width: 260px;
        height: 55px;
        }
        &:nth-child(3) {
            width: 249px;
        height: 47px;
        }
        &:nth-child(4) {
            width: 215px;
        height: 43px;
        }

    }
}