.button {
    height: 100%;
    width: 100%;
    background-color:  $color-default;
    display: block;
    //modifire
    &.submit {
        box-shadow: 3px 5px 0px 0px rgba(51, 51, 51, 0.25);
        font-family: $font-en;
        color:  $color-white;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
        text-align: center;
        letter-spacing: 0.1em;
        &:hover {
            margin-top: 3px;
            margin-left: 5px;
            box-shadow: 0px 0px $color-white;
        }
    }
}