.eye-catch {
    position: relative;
    overflow: hidden;
    height: 100%;
    &-inner {
    padding-top:210px ;
        &-title {
            font-family: $font-lato;
            color:  $color-white;
            font-size: 40px;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;
            letter-spacing: 0.1em;
        }
        &-text {
            font-family: $font-en;
            color:  $color-white;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.5;
            text-align: left;
            letter-spacing: 0.13em;
            &-1 {
                margin-top: 68px;
            }
            &-2 {
                margin-top: 20px;
            }
        }
    }
    &-image{
        &:nth-child(2){
        width: 270px;
        height: 430px;
        position: absolute;
        top: 67px;
        left: 73%;
        }
        &:nth-child(3){
        width: 295px;
        height: 460px;
        position: absolute;
        top: 340px;
        left: 75%;
        }
        &:nth-child(4){
        height: 480px;
        width: 295px;
        position: absolute;
        top: 270px;
        left: 61%;
        }
    }
}