.feature-section {
    &-title {
        font-family: $font-lato;
        color:  $color-default;
        font-size: 60px;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 48px;
        letter-spacing: 0.08em;
    }
    &-item {
        display: inline-block;
            &:nth-of-type(n+2) {
                margin-left: 136px;
            }
    }
}