.feature-item {
-webkit-transition: opacity 2s cubic-bezier(0.67, 0.58, 0.24, 1.07);
   -moz-transition: opacity 2s cubic-bezier(0.67, 0.58, 0.24, 1.07);
    -ms-transition: opacity 2s cubic-bezier(0.67, 0.58, 0.24, 1.07);
     -o-transition: opacity 2s cubic-bezier(0.67, 0.58, 0.24, 1.07);
        transition: opacity 2s cubic-bezier(0.67, 0.58, 0.24, 1.07);
    opacity: 0;
    width: 266px;
    height: 80px;
    &-image {
        width: 172px;
        height: 190px;
        margin: 0 auto;
    }
    &-title {
        font-family: $font-en;
        color:  $color-default;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        margin-top: 20px;
        letter-spacing: 0.1em;
    }
    &-text {
        font-family: $font-en;
        color:  $color-default;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
        margin-top: 10px;
        letter-spacing: 0.1em;
    }
    //state
    &.is-active {
        opacity: 1;
    }
}