.footer {
    &-copyright {
        float: left;
        display: block;
        font-family: $font-en;
        color:  $color-white;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        margin: auto 0;
        padding-top: 16px;
    }
    &-icon {
        height: 100%;
        display: inline-block;
        float: right;
        margin-right: 200px;
        padding-top: 14px;
        &-item {
            float: right;
            display: block;
            margin-left: 23px;
            &:nth-child(2) {
                margin-top: 2px;
            }
        }
    }
}
