.form-section {
    display: block;
    padding: 80px 0;
    &-name {
        float: left;
        width: 500px;
        height: 60px;
    }
    &-e-mail {
        float: left;
        width: 500px;
        height: 60px;
        margin-top: 28px;
    }
    &-select {
        float: left;
        width: 500px;
        height: 60px;
        margin-top: 30px;

        &-label {
            position: relative;
            background: $color-white;
            width: 100%;
            height: 100%;
            display: block;
            &:before {
                pointer-events: none;
                position: absolute;
                top: 28px;
                right: 24px;
                content: "";
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-top: 8px solid $color-gray;
                z-index: 1;
            }
        }
    }
    &-arrow {
        position: absolute;
        top: 27px;
        right: 23px;
    }
    &-comments {
        float: right;
        width: 540px;
        height: 150px;
        margin-right: 20px;
    }
    &-submit {
        float: right;
        width: 540px;
        height: 60px;
        margin-top: 30px;
        margin-right: 20px;
    }
}