.form-item {
    border-style: solid;
    border-width: 2px;
    border-color:  $color-gray;
    background: $color-white;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    &-name {
        &::placeholder {
            opacity: 0.3;
            font-family: $font-en;
            font-size: 20px;
            letter-spacing: 0.1em;
            font-weight: 100;
        }
    }
    &-e-mail {
        &::placeholder {
            opacity: 0.3;
            font-family: $font-en;
            font-size: 20px;
            letter-spacing: 0.1em;
            font-weight: 100;
        }
    }
    &-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 18px;
        letter-spacing: 0.1em;
    }
    &-comments {
    padding: 18px;
    resize: none;
    overflow: scroll;
        &::placeholder {
            opacity: 0.3;
            font-family: $font-en;
            font-size: 20px;
            letter-spacing: 0.1em;
            font-weight: 100;
        }
    }
}