.header {
    width: 100%;
    height: 100%;
    padding: 28px 0;
    &-logo {
        display: inline-block;
        font-size: 38px;
        line-height: 1;
        color: $color-black;
    }
    &-nav {
        float: right;
    }
}