.hero {
    width: 100%;
    height: 800px;
    position: relative;
    min-width: 1160px;
    &-image {
        height: 100%;
    }
    &-title {
        position: absolute;
        top: 34%;
        font-family: $font-lato;
        color:  $color-white;
        width: 100%;
        font-size: 160px;
        font-weight: 300;
        text-align: center;
        line-height: 1;
        letter-spacing: 0.06em;
    }
    &-text {
        position: absolute;
        top: 56%;
        width: 100%;
        font-family: 'Lato Hairline';
        font-weight: 200;
        color:  $color-white;
        font-size: 60px;
        line-height: 1;
        text-align: center;
        letter-spacing: 0.01em;
    }
}