.icon {
    color: $color-white;
    background: cover;
    font-size: 180%;
    &-gplus {
        &:hover {
            color: $color-google;
        }
    }
    &-tw {
    font-size: 150%;
        &:hover {
            color: $color-twitter;
        }
    }
    &-fb {
        &:hover {
            color: $color-facebook;
        }
    }
}