.navigation {
    font-size: 0;
    letter-spacing: 0;
    &-list {
        margin-top: 10px;
    }
    &-link {
        display: block;
        font-family: $font-en;
        color:  $color-default;
        font-size: 20px;
        font-weight: 400;
        line-height: 46px;
        text-align: center;
        margin-left: 38px;
        letter-spacing: 0.1em;
        line-height: 1.5;
        &.is-current {
            opacity: 0.6;
            border-bottom: 2px solid $color-black;
        }
        &:hover {
            text-decoration: none;
            opacity: 0.6;
            border-bottom: 2px solid $color-black;
        }
    }
    &-item {
        display: inline-block;
    }
}