.news-section {
    background:  #f6f6f6;
    overflow: scroll;
    height: 100%;
    &-title {
        font-family: 'Lato', sans-serif;;
        color:  $color-default;
        font-size: 60px;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 24px;
        padding-top: 67px;
        letter-spacing: 0.08em;
    }
    &-list {
        width: 1100px;
        margin: 0 auto;
    }
    &-item {
        margin-top: 20px;
    }
}