.news-article {
    display: block;
    border-bottom: 2px solid $color-gray;
    &-date {
        font-family: 'Kozuka Gothic Pr6N';
        color:  $color-default;
        font-size: 20px;
        letter-spacing: 0.1em;
        line-height: 1;
        text-align: left;
        display: block;
    }
    &-title {
        float: left;
        font-family: $font-en;
        color:  $color-default;
        font-size: 30px;
        letter-spacing: 0.1em;
        font-weight: 700;
        line-height: 1.3;
        text-align: left;
        margin: 10px 0;
        border-bottom: 1px ridge #f6f6f6;
    }
    &-text {
        float: left;
        font-family: $font-en;
        color:  $color-default;
        font-size: 20px;
        letter-spacing: 0.12em;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        margin: 15px 37px;
        border-bottom: 1px ridge #f6f6f6;
    }
    &:hover {
        text-decoration: none;
    }
    &:hover .news-article-title {
        border-bottom: 1px groove $color-black ;
    }
    &:hover .news-article-text {
        border-bottom: 1px ridge #757575;
    }
}