.service {
    &-title {
        font-family: $font-lato;
        color:  $color-default;
        font-size: 60px;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 48px;
        letter-spacing: 0.08em;
    }
    &-image {
        display: inline-block;
        width: 438px;
        height: 412px;
    }
    &-inner {
        float: right;
        &-subtitle {
            font-family: $font-en;
            color:  $color-default;
            font-size: 30px;
            font-weight: 700;
            line-height: 1.5;
            text-align: right;
            margin-top: 70px;
            letter-spacing: 0.1em;
            padding-right: 19px;
        }
        &-text {
            font-family: $font-en;
            color:  $color-default;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.5;
            text-align: right;
            letter-spacing: 0.125em;
            padding-right: 16px;
            &-1 {
                margin-top: 43px;
            }
            &-2 {
                margin-top: 30px;
            }
        }
    }
}