    <!--footer ここから-->
    <footer class="l-footer">
        <div class="l-container">
            <small class="footer-copyright">&copy;2016 Sample
            </small>
            <ul class="footer-icon">
                <li class="footer-icon-item">
                    <a href="#">
                        <i class="icon icon-gplus"></i>
                    </a>
                </li>
                <li class="footer-icon-item">
                    <a href="#">
                        <i class="icon icon-tw"></i>
                    </a>
                </li>
                <li class="footer-icon-item">
                    <a href="#">
                        <i class="icon icon-fb"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <!--footer ここまで-->