<% include view/const/_const %>
<%
var id = "index";
var title = "";
var description = "sample text,sample tex";
var keywords = "word1,word2,word3";
var type = "blog";
%>
<% include view/metadata/_head %>


    <% include view/module/_hero %>
    <div class="l-header" id="is-header">
        <div class="l-container">
            <% include view/module/_header %>
        </div>
    </div>
    <div class="replace"></div>
    <main class="l-main">
        <div class="l-main-eye-catch">
            <% include view/module/_eye-catch %>
        </div>
        <div class="l-main-feature" id="js-feature">
            <div class="l-container">
            <% include view/module/_feature-section %>
            </div>
        </div>
        <div class="l-main-service">
            <div class="l-container">
                <% include view/module/_service %>
            </div>
        </div>
        <div class="l-main-news-section">
            <% include view/module/_news-section %>
        </div>
        <div class="l-banner-section">
            <div class="l-container">
            <% include view/module/_banner-section %>
            </div>
        </div>
        <div class="l-main-form">
            <div class="l-container">
                <% include view/module/_form-section %>
            </div>
        </div>
    </main>

<% include view/layout/_l-footer %>
<% include view/metadata/_script %>